pipeline/Copy_data_from_RESTAPI_pl.json
{
	"name": "Copy_data_from_RESTAPI_pl",
	"properties": {
		"description": "Copy data from REST API which sends response in pages to Data Blob storage",
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('APIconnection')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "ForEach1",
				"description": "iterate through all the pages of rest api",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('Web1').output.total_pages)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy REST API data",
							"description": "copy API data to data storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"ordinal": 1
											}
										},
										{
											"source": {
												"path": "['email']"
											},
											"sink": {
												"ordinal": 2
											}
										},
										{
											"source": {
												"path": "['first_name']"
											},
											"sink": {
												"ordinal": 3
											}
										},
										{
											"source": {
												"path": "['last_name']"
											},
											"sink": {
												"ordinal": 4
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"Page_parameter": {
											"value": "?page=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"dynamicfilename": {
											"value": "APIresponse@{item()}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"APIconnection": {
				"type": "String",
				"defaultValue": "https://reqres.in/api/users"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-29T07:13:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}